<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="style.css"/>
		<title>Twitter Sonification</title>
	</head>
	<body>
		<h1>Sound of Twitter</h1>
		<div class = "typewriter"><input id = "input" type = "text" placeholder="Enter a Hashtag to Listen To" /></div>
		<div><button id = 'button'> Tune In</button></div>
		<h2 id="tweetText"></h2>
		<div> Hashtags that Others have Tuned to<div>
		<div id = "popular"></div>
		<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
		<script type="text/javascript" src="main.js"></script>
		<script src="../p5.min.js"></script>
	    <script src="../p5.dom.min.js"></script>
	    <script src="../p5.sound.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.5/howler.min.js"></script>
	</body>
</html>